/*
body{
    background-color: rgba(0, 12, 143, 0.9);
    height: 100vh;
}

.header{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 2rem;
    margin-top: 0;
    margin-right: 0;
}

.Overskrift{
    display: flex;
    align-items: center;
    justify-content: center;
    color: wheat
}


.Rutenett{
    display: grid;
    grid-template-columns:repeat(3, 300px) ;
    grid-template-rows: repeat(3, 300px);
    gap: 20px;
    justify-content: center;
    background-color: black;
    width: 940px;
    margin: 150px auto 0 auto;

}

.Rutenett div{
    background-color: rgba(0, 12, 143, 0.9);
    color:#ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    text-align: center;
}   
*/

.cell{
    height: 75px;
    width: 75px;
    border: solid 2px;
    box-shadow: 0 0 0 2px;
    font-size: 50px;
    cursor: pointer;
}
#game{
    text-align: center;
}


#CellContainer{
    display: grid;
    grid-template-columns:repeat(3,1fr) ;
    grid-template-rows: repeat(3,1fr);
    width: 225px;
    height: 225px;
    margin: auto;
}

body{
    background-color: grey;
}

