body{
    background-color: rgba(0, 0, 0, 0.9);
    height: 100vh;
}

.header{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 2rem;
    margin-top: 0;
    margin-right: 0;
}

.Overskrift{
    display: flex;
    align-items: center;
    justify-content: center;
    color: wheat
}


.container{
    display: grid;
    grid-template-columns:repeat(3, 300px) ;
    grid-template-rows: repeat(3, 300px);
    gap: 20px;
    justify-content: center;
    margin-top: 150px;
}

.container div{
    background-color: rgba(0, 0, 0, 0.05);
    color:#ffffff;
    padding: 10px;
    font-size: 30px;
    text-align: center;
}   